# SPDX-License-Identifier: Apache-2.0
# Copyright Contributors to the Egeria project.
name: "Merge"

on:
  push:
    branches: [main, release-*, feature-*]
  # Also allow for manual invocation for testing
  workflow_dispatch:

jobs:
  build:
    if: startsWith(github.repository,'odpi/')
    runs-on: ubuntu-latest
    name: "Merge"
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'temurin'
      - uses: gradle/wrapper-validation-action@v1
      # Only for a merge into this repo - not a fork, and just for the main branch
      - name: Build (Publish snapshots to maven central)
        if: ${{ github.ref == 'refs/heads/main'}}
        run: ./gradlew publish
        # Import secrets needed for code signing and distribution
        env:
          OSSRH_GPG_KEYID: ${{ secrets.OSSRH_GPG_KEYID }}
          OSSRH_GPG_PASSPHRASE: ${{ secrets.OSSRH_GPG_PASSPHRASE }}
          OSSRH_GPG_PRIVATE_KEY: ${{ secrets.OSSRH_GPG_PRIVATE_KEY }}
          OSSRH_TOKEN: ${{ secrets.OSSRH_TOKEN }}
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
      # In other cases just build but don't publish
      - name: Build (no snapshots)
        if: ${{ github.ref != 'refs/heads/main' }}
        run: ./gradlew build
      # --
      - name: Upload Connector
        uses: actions/upload-artifact@v3
        with:
          # TODO: merge - Update name & artifacts to upload
          name: Jar
          path: '**/build/libs/*.jar'
